## Street Suffix Abbreviation

In [1]:
# P A N D A S and N U M P Y
import numpy as np
import pandas as pd

<div class="alert alert-block alert-info">
<b>Using Pandas DataFrames</b> 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp;Use the .read_csv() function to read the csv file
</div>

In [2]:
# Load the data
df1 = pd.read_csv('../Datasets/INPUT/Sample Data (Modified).csv')
df1.head()

,id,gnaf_address_id,street,suburb,postcode,state_code,latitude,longitude,type,land_sqm,floorplan
0,28722,8503832,72 Madagascar Drive,Kings Park,2148,NSW,-33.738937,150.902040,house,561.0,True
1,28723,8482135,1 Kauai Place,Kings Park,2148,NSW,-33.742233,150.911124,house,559.0,True
2,28724,7866709,2/53 Cobham Street,Kings Park,2148,NSW,-33.741886,150.902220,unit,NaN,True
3,28725,10510214,181 Madagascar Drive,Kings Park,2148,NSW,-33.738475,150.911142,house,NaN,True
4,28726,11825056,91 Faulkland Crescent,Kings Park,2148,NSW,-33.741895,150.904517,house,559.0,True

<div class="alert alert-block alert-info">
<b>Using Pandas DataFrames</b> - Use the .read_csv() function to read the <b>StreetType-Abbrev.csv file
</div>

In [4]:
# Load the data
df2 = pd.read_csv('../Datasets/INPUT/StreetType-Abbrev.csv')
df2.head()

,Street Suffix Name,Commonly Used Street Suffix or Abbreviation,Postal Service Standard Suffix Abbreviation
0,ALLEY,ALLEE,ALY
1,NaN,ALLEY,NaN
2,NaN,ALLY,NaN
3,NaN,ALY,NaN
4,ANEX,ANEX,ANX

<div class="alert alert-block alert-info">
<b>Create a Street Suffix Abbreviation Dictionary</b> 
</div>

In [5]:
extra_suffix_list = ['BOULEVARDE', 'BOULEVARD', 'BVD', 'BOULEVARD', 'CRESCENT', 'CRESCENT', 'CIRCUIT', 'CIRCUIT',     
                     'CCT', 'CIRCUIT', 'PLACE', 'PLACE', 'CLOSE', 'CLOSE', 'CL', 'CLOSE', 'CR', 'CORNER', 
                     'PARADE', 'PARADE', 'PDE', 'PARADE', 'GLADE', 'GLADE', 'AVENUE,', 'AVENUE', 'AVENUE.', 'AVENUE', 
                     'AVENUE.', 'AVENUE', 'AVE', 'AVENUE', 'AVE.', 'AVENUE', 'STREET.', 'STREET', 'ST.,', 'STREET',  
                     'PDE', 'PARADE', 'TCE', 'TERRACE', 'PL.', 'PLACE']

In [6]:
# Change Column Names to more undesrtanding
df2.columns = ['Street_Suffix', 'Possible_Abbreviations', 'Abbreviation']

hold_list = []
first_time = 'Y'
hold_suffix_name = ''
index = 0
for i in df2.Street_Suffix: 
    if first_time == 'Y':
        first_time = 'N'
        hold_suffix = i
    try:
        if i.isalpha():
            hold_suffix = i
    except:
        if AttributeError:
            x = i
    hold_list.append(df2.Possible_Abbreviations[index])
    hold_list.append(hold_suffix)
    index +=1
new_suffix_list = hold_list + extra_suffix_list
dic_list = dict(zip(*[iter(new_suffix_list)]*2)) 

dic_list;

In [7]:
print (dic_list['RD'])

ROAD